.header {
  width: 100%;
  height: 0 auto;
  background-color: #439AF9;
}
.header img{
  width: 100%;
}
.box-body {
  text-align: center;
  padding: 0;
  margin: 0;
}
.box-body a {
  text-decoration: none;
}
.box-body h4 {
  margin-top: 20px;
  padding: 0;
  font: 700 1.8rem Poppins;
  color: dimgray;
}
.box-body h6 {
  font-weight: lighter;
  font: 400 0.9rem Poppins;
}
.box-body p {
  font: 400 0.8rem Poppins;
}
.box-body hr {
  opacity: inherit;
}
.box-body img {
  width: 40px;
  height: 40px;
  padding: 3px;
}

.whatsapp {
  position: fixed;
  top: 80%;
  left: 10%;
}

.whatsapp img {
  text-align: center;
  width: 60px;
  height: 60px;
}

.footer {
  text-align: center;
  padding: 0.5px;
  margin: 0;
  height: 0 auto;
  margin-top: 20px;
  background-color: lightgray;
  color: black;
}

.footer h5 {
  font: 400 0.9rem Poppins;
}

.footer h6 {
  font: 400 0.7rem Poppins;
}


@media(min-width: 700px){
  .header img {
    width: auto;
  }
}