:root {
  --color-background: #F0F0F7;
  --color-primary-lighter: #9871F5;
  --color-primary-light: #916BEA;
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842C2;
  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;
  --color-primary-header: #439AF9;
  
  font-size: 100%;
}
.body {
  background-color: var(--color-background);
}

.header {
  position: relative;
  margin: auto;
  max-width: 1060px;
  background-color: var(--color-primary-header);
}
.header img{
  width: 100%;
}

.box-body-item {
  background: var(--color-box-base);
  border: var(--color-line-in-write);
  border-radius: 0.8rem;
  margin-top: 5.4rem;
  margin: 0.8rem;
  overflow: hidden;
  padding: 3.2rem 2rem;
}
.box-body-item header {
  font: 700 1.8rem Poppins;
  color: var(--color-text-title);
  padding: 0;
  align-items: center;
}
.box-body-item p {
  font: 400 0.9rem Archivo;
}
.box-body-item p img {
  width: 1.0rem;
  height: 1.0rem;
}
.box-body-item a {
  text-decoration: none;
}
.box-body-item img {
  width: 30px;
  height: 30px;
  padding: 3px;
}
.box-body-item div img {
  width: 350px;
  height: 450px;
}

.whatsapp {
  position: fixed;
  top: 80%;
  left: 10%;
}
.whatsapp img {
  text-align: center;
  width: 60px;
  height: 60px;
}

.footer {
  text-align: center;
  padding: 0.5px;
  margin: 0;
  height: 0 auto;
  margin-top: 20px;
  color: var(--color-primary-darker);
}

.footer h5 {
  font: 400 0.9rem Archivo;
}

.footer h6 {
  font: 400 0.7rem Archivo;
}


@media(min-width: 700px){
  .header img {
    width: auto;
  }
  .box-body-item {
    text-align: center;
    padding: 3.2rem 2;
    max-width: 1000px;
    margin: 10px auto;
}
}